[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = http://github.com/vjousse/symfony-1.4.git
[submodule "plugins/sfRestPlugin"]
	path = plugins/sfRestPlugin
	url = git://github.com/jamespaulmuir/sfRestApiPlugin.git
